$black:#53100F;
$spans:#000;
$bg:#701E1E;
$white:#fff;
$title:#701E1E;
$text_dest:#B76A6A;
//gradientes
$btn:linear-gradient(to bottom, #C12026 0%,#7C1315 100%);
$btn_hover:linear-gradient(to bottom,#7C1315  0%, #C12026 100%);
